<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SPB</h5>
        <p class="grey-text text-lighten-4">Ce site vous permet de suivre simplement l'état de votre dossier chez SPB et ses différents services/prestataires, la mise à jour des informations peut prendre quelques heures suivant les étapes.</p>


      </div>
      <div class="col l3 s12">
        
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col l6 s6">
          <a class="orange-text text-lighten-3" href="#">SPB 2015</a>
        </div>
        <div class="col l6 s6 right-align">
          <a class="orange-text text-lighten-3" href="#">Mention légals</a>
        </div>
      </div>
    </div>
  </div>
</footer>