<nav class="light-blue darken-2" role="navigation">
	<div class="nav-wrapper container">
		<a href="#" id="logo-container" class="brand-logo">SPB</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/#" ng-hide="isLogged" ng-click="login()">Connexion</a></li>
			<li><a href="/#" ng-show="isLogged" ng-click="logout()">Déconnexion</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="/#" ng-hide="isLogged" ng-click="login()">Connexion</a></li>
			<li><a href="/#" ng-show="isLogged" ng-click="logout()">Déconnexion</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse">
			<i class="material-icons">menu</i>
		</a>
	</div>
</nav>